@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #f7f2e8;
  --title-color: #1a1a1a;
  --headings-color: #3c0e0e;
  --brand-color: #431b1b;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

ul li {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1188px;
  margin: auto;
}

/* Header/Menu de navegação */
.navbar {
  display: flex;
  justify-content: space-between;
  padding-inline: 16px;
  position: relative;
}

.navbar-logo {
  width: 127px;
  height: 169px;
  margin-right: 15px;
}

.navbar-logo-links {
  display: flex;
  align-items: center;
  margin-right: 50px;
  z-index: 2;
}

.navbar-title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 24px;
  margin-right: 42px;
}

.navbar-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 42px;
  color: var(--headings-color);
  font-size: 20px;
  font-weight: 500;
}

.navbar-links .active {
  border-bottom: 5px solid var(--headings-color);
}

.navbar-login-group {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 42px;
}

.navbar-login-link {
  color: var(--headings-color);
  font-size: 20px;
  font-weight: 500;
  z-index: 2;
}

.navbar-delivery-link {
  z-index: 2;
}

.navbar-delivery-link button {
  background-color: var(--brand-color);
  padding: 10px 32px;
  border-radius: 39px;

  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

/* Icone Hamburguer */
.navbar-menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: 20px;
  z-index: 2;
}

.menu-line {
  width: 25px;
  height: 3px;
  background-color: var(--headings-color);
  margin: 3px 0;
}

.navbar-links .navbar-login-link,
.navbar-links .navbar-delivery-link {
  display: none;
}

/* Animação ícone Hamburguer */
.navbar-menu-icon.active .menu-line:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px); /* Ajuste fino para centralizar */
}

.navbar-menu-icon.active .menu-line:nth-child(2) {
  opacity: 0;
}

.navbar-menu-icon.active .menu-line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px); /* Ajuste fino para centralizar */
}

.menu-line {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: center; /* Garantir que as linhas girem do centro */
}

/* Menu mobile */
.navbar-menu-mobile {
  display: flex;
  flex-direction: column; /* Empilhar verticalmente */
  align-items: center; /* Centraliza os itens */
  justify-content: center;
  gap: 30px;
  text-align: center;
  width: 50vw; /* Largura do menu */
  height: 100vh;
  top: 0; /* Abaixo da navbar */
  left: 0; /* Alinha à esquerda */
  z-index: 3; /* Fica acima do conteúdo, mas abaixo do menu */
  background-color: #621616; /* Fundo preto semi-transparente */
  border-bottom: 5px solid var(--bg-color);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 10px;
  color: #fff;
  font-size: 20px;
  list-style: none;

  position: absolute;
  opacity: 0; /* Começa invisível */
  transition: transform 0.4s ease, opacity 0.4s ease; /* Transições suaves */
}

.navbar-menu-mobile .navbar-login-link,
.navbar-menu-mobile .navbar-delivery-link {
  display: block;
}

.navbar-menu-mobile .navbar-login-link {
  color: var(--bg-color);
  font-weight: 600;
}

/* Breakpoints para telas menores (header/menu de navegação) */
@media (max-width: 980px) {
  ul li {
    padding: 5px;
  }

  .navbar {
    padding-inline: 50px;
    gap: 0;
  }

  .navbar-login-group {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .navbar-menu-icon {
    display: flex;
  }

  .navbar-title {
    margin-right: 5px;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links div {
    flex-direction: column;
  }

  .navbar-menu-mobile.active {
    opacity: 1; /* Aumenta a opacidade */
  }
}

@media (max-width: 730px) {
  .navbar {
    padding-inline: 20px;
  }

  .navbar-title {
    font-size: 24px;
    font-weight: 600;
  }

  .navbar-logo-links {
    margin-right: 5px;
  }

  .navbar-login-link {
    display: none;
  }

  .navbar-links .navbar-delivery-link button {
    background-color: var(--bg-color);
    color: var(--headings-color);
    font-weight: 600;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-links .navbar-login-link {
    color: #fff;
    font-weight: 600;
  }

  .navbar-links.active {
    width: 85vw;
  }

  .navbar-links.active .navbar-login-link,
  .navbar-links.active .navbar-delivery-link {
    display: block; /* Mostre esses links quando a classe active estiver presente */
  }

  .navbar-links.active .navbar-login-link {
    margin-top: 100px;
  }

  .navbar-menu-icon {
    margin-left: 5px;
  }

  .navbar-menu-mobile {
    width: 55vw;
  }
}

@media (max-width: 540px) {
  .navbar {
    padding-inline: 20px;
  }

  .navbar-logo {
    width: 101.6px;
    height: 135.2px;
  }

  .navbar-title {
    font-size: 16px;
    font-weight: 800;
  }

  .navbar-delivery-link button {
    font-size: 15px;
  }
}

@media (max-width: 440px) {
  .navbar {
    padding-inline: 10px;
  }

  .navbar-logo {
    width: 73.15px;
    height: 97.34px;
  }

  .navbar-login-group {
    gap: 10px;
  }

  .navbar-menu-mobile {
    width: 90vw;
  }
}

@media (max-width: 390px) {
  .navbar {
    padding-inline: 5px;
  }

  .navbar-logo-links {
    margin-right: 15px;
  }

  .navbar-title {
    font-size: 15px;
    font-weight: 800;
  }

  .navbar-logo-links {
    margin-right: 8px;
  }

  .navbar-login-group {
    gap: 5px;
  }

  .navbar-delivery-link button {
    font-size: 11px;
  }
}

/* Header Content */
header .container {
  position: relative;
}

#header-content {
  max-width: 352px;
  margin-top: 30px;
  padding-left: 16px;
  display: flex;
  color: var(--headings-color);

  position: relative;
}

.text-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.text-header span,
.text-header h1 {
  font-weight: bold;
}

.text-header span {
  font-size: 24px;
}

.text-header h1 {
  font-size: 80px;
  line-height: 104%;
}

.text-header p {
  font-size: 16px;
  line-height: 157%;
}

.image-header-desktop {
  width: 700px;
  height: auto;
  position: absolute;
  top: 0;
  right: -30px;
}

.image-header-mobile {
  display: none;
  position: absolute;
  top: 0;
  max-width: 450px;
}

/* Breakpoints para telas menores (header/header content) */
@media (max-width: 1100px) {
  .navbar {
    padding-inline: 50px;
  }

  .navbar-menu-icon {
    margin-left: 0;
  }

  #header-content {
    padding-left: 50px;
  }
}

@media (max-width: 1024px) {
  .image-header-desktop {
    display: none;
  }
  .image-header-mobile {
    display: block;
    top: 0;
    right: 0;
  }
}

@media (max-width: 570px) {
  .navbar {
    padding-inline: 10px;
  }

  #header-content {
    margin-top: 40px;
    padding-left: 20px;
  }

  .text-header {
    gap: 10px;
  }

  .text-header h1 {
    font-size: 32px;
    line-height: 104%;
  }

  #header-content span {
    max-width: 240px;
  }

  .text-header h1,
  .text-header p {
    max-width: 170px;
  }

  .image-header-mobile {
    width: 100%;
    top: 0;
    right: 0;
  }
}

/* Sessão dos cafés/driks */
#coffees {
  width: 100vw;
  height: auto;
  margin-top: 72px;
  margin-bottom: 72px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  background-image: url(./images/background-coffees-section.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.coffees-text-content {
  max-width: 544px;
  padding-inline: 10px;
  text-align: center;
  color: var(--headings-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coffees-text-content h2 {
  margin: auto;
  width: max-content;
  font-size: 40px;
  font-weight: 600;
  line-height: 130%;
}

.coffees-text-content h2::after {
    content: "";
    display: block;
    width: calc(100% - 50px); 
    border-bottom: 1px solid var(--headings-color);
    margin: auto;
}

.coffees-text-content a {
  text-decoration: none;
  color: var(--headings-color);
  font-weight: 600;
}

.coffees-cards-content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.coffees-cards-content .coffee-card:nth-child(1) {
  background: linear-gradient(202.65deg, #F2C1BF 4.72%, #C27D7A 102.83%);
}

.coffees-cards-content .coffee-card:nth-child(2) {
  background: linear-gradient(202.65deg, rgba(250, 250, 250, 0.95) 4.72%, rgba(84, 21, 17, 0.58) 102.83%);
}

.coffees-cards-content .coffee-card:nth-child(3) {
  background: linear-gradient(202.65deg, rgba(10, 9, 9, 0.95) 4.72%, rgba(84, 21, 17, 0.95) 102.83%);
}

.coffee-card {
  padding: 35px 15px 25px 15px;
  margin-inline: 10px;
  text-align: center;
  color: #fff;
  width: 320px;
  display: flex;
  flex-direction: column;

  border-radius: 48px;
}

.coffee-card-img-content {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coffee-card img {
  width: 300px;
}

.coffee-card-price {
  font-weight: 600;
  font-size: 20px;
}

.coffee-card-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.coffee-card-desc {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}

.coffee-card button {
  all: unset;
  height: 46px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  cursor: pointer;
}

@media (max-width: 540px) {
  #coffees {
    background-image: none;
  }

  .coffees-cards-content {
    gap: 25px;
  }
}